<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/formulario.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <p><h2 class="title">CREACION Y EDICION DE PRODUCTOS</h2></p> 
    <form action="/products" method="POST" enctype="multipart/form-data">
    <div id= "masterContenedor">  
        <div class="primero elementoId">
            <label>NOMBRE</label> <input type="text" name="nombre">
        </div>
        <div class="primero elementoId">
            <label>DESCRIPCION</label> <input type="text" name="description">
        </div>
        <div class="imagenId elementoId">
            <label>IMAGEN</label> <input type="file" id="imagenProducto" name="imagen" hidden>
            <div class ="bordeCuadrito">
                <div onclick="document.getElementById('imagenProducto').click()" class="fondoGris cuadradito"><img src="/img/icons/clickHere.png" /></div>
            </div>
        </div>
        <div class="segundo elementoId">
            <label>CATEGORIA</label> 
                <select name = "categoria"> 
                    <option value="H">Hombre </option> 
                    <option value="M">Mujer</option> 
                    <option value="Acc"> Accesorios</option>
                </select> 
        </div>
        <div class="segundo elementoId">
            <div class="doble">
                <label>Color</label> 
                <input type="color" value="#bcbcbc" name="color"">
            </div>
            <div class="doble">
                <label>TALLA</label> 
                    <select name = "talla"> 
                        <option value="S">S</option> 
                        <option value="M">M</option> 
                        <option value="XL">XL</option>
                        <option value="XLL">XLL</option>
                        <option value="35">35</option> 
                        <option value="38">38</option>
                        <option value="40">40</option>
                    </select>
                </div> 
            </div>
            <div class="precio elementoId">
                <label>PRECIO</label> 
                <div class ="bordeCuadrito">
                <input class = "ancho" type="text" name="price">      
                </div>
            </div>
    
        <div class="botonEnviar">
            <button type="submit">Agregar producto</button>
        </div>
    </form>

    </div>
</body>
</html>