/* Paleta de colores
    #B6AB9A
    #C4C4C4
    Fuente: Roboto
*/

*{
    box-sizing: border-box;
}

/*---------------HEADER---------------*/

*{
    margin: 0;
    padding: 0;
}

html, body, footer {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #F6F6F6
}
header{
    width: 100%;
    margin: 0;
    padding: 0;
}

#menuPequenio{
    background-color: black;
    width: 100%;
    margin: 0;
}
#menuPequenio div{
    width: calc(33% - 30px);
    display: inline-block;
    color: white;
    margin: 0;
    padding: 5px 15px;
}
#menuPequenio i{
    margin-right: 5px;
    font-size: 15px;
}
.textLeft{
    text-align: left;
}
.TextRight{
    text-align: right;
}
.TextCenter{
    text-align: center;
}

.cajaLogo {
    width:100%;
    text-align: center;
    position: relative;
}
.cajaLogo img{
    margin: 0 auto;
    width:130px ;
    height: 110px;
    margin-top: 5px;
    margin-bottom: 0px;
    
}
.padreIcons{
    position: absolute;
    top: 20%;
    right: 35px;
}
.padreIcons div{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
}

/*---------------BODY---------------*/

body{
    font-family: 'Roboto';
    background-color: #B6AB9A;
}

/* masterContainer contiene todas las cajas */

.masterContainer{
    width: 100%;
    height: 100%;
    border: black solid 2px;
    display: flex;

}

/* container: es padre de box contiene vistas miniatura de galeria producto*/

.container {
    display: flex;
    width: 120px;
    height: auto;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

/* box es para ubicar miniaturas de las imagenes producto */

.box{
    display: flex;
    height: 45px;
    width: 90px;
    background-color: #C4C4C4;
    color: black;
    border: solid 1px black;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 15px; 
}

/* mainBox es para la foto mas grande del producto */

.mainBox{
    display: flex;
    width: 80%;
    height: auto;
    border: solid 2px black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 50px;
}

/* container1: es padre de subBox */

.container1 {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 25px;
}

/* detalles de producto */

.detailProduct{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* contendor para caja de colores */

.container2{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

/* cajas de colores para seleccion */

.box1{
    display: flex;
    width: 60px;
    height: 30px;
    border: solid black 1px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

/* contiene cajas de las tallas */

.container3{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}

/* caja para las tallas */

.box2{
    display: flex;
    width: 30px;
    height: 30px;
    border: solid black 1px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 3px;
}

/* caja para detalles de producto */

.subBox1 {
    display: flex;
    width: 450px;
    height: 200px;
    border: solid 2px black;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 25px;
}

/* subBox2 N : son para caracteristicas tecnicas, envio y devoluciones y mas informacion */

.subBox2 {
    display: flex;
    width: 450px;
    height: 20px;
    border: solid 2px black;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 15px;
}

/*---------------FOOTER---------------*/

footer{
    width: 100%;
    margin: 0;
    padding: 0;
}
#registro{
   width: 100%;
   background-color: rgba(196, 196, 196, 0.42);
   padding-top: 20px;
   padding-bottom: 20px;
   text-align: center;
}
#registro i{
   font-size: 55px;
   align-content: center;
   padding-bottom: 15px;
}
.TextoRegistro{
   padding: 40px;
   text-align: center;
   padding-top: 5px;
   padding-bottom: 15px;

}
.Registrarme {
     font-size:17px;     
     color:white;
     background:black;
     text-align: center;
     padding: 10px 60px;
     border-radius: 5px;
     font-family:'Roboto Slab'
}   

.contenedorFooter{
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
}

.bordeLogo {
   margin-top: 2%; 
   width: 15%;   
}

.contenedorFooter li{
    width: 20%;
    box-sizing: border-box;
    text-align: left;
}



.contenedorFooter .bordeRedes{
    border: none;
}

.contenedorFooter img{
    width: 70%;
}

.contenedorFooter .info{
    border-left: 1px black solid;
    width: 100%;
    height: calc(100% - 30px);
}
.contenedorFooter p {
    padding-top: 25px;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}
.contenedorFooter .contenedorIcons a{
    padding: 2px 5px;
    font-size: 25px;
    
}
.contenedorFooter .contenedorIcons{
    text-align: left;
    padding-top: 1px;
}

.Logochico{
   text-align: right;
   background-color:rgba(150, 146, 146, 0.11); ;
   width: 100%;
}
.Logochico img{
   width: 85px;
   text-align: left;
   padding-right: 55px;
}
.Logochico .infoHecho{
   text-align: right;
   font-weight: bold;
   padding-right: 30px;
   border-bottom: 1px rgba(0, 0, 0, 0.226) solid;
   margin-bottom: 10px;
}

#infoFinal {
   background-color: black;
   width: 100%;
   margin: 0;
   color: white;
   display: inline-flex;
}
#infoFinal li{
   width: 33%; 
   box-sizing: border-box;
   text-align: center;   
}
#infoFinal ul{
   width: 100%;
}

#infoFinal .infoPolitica{
   text-align: right;
}
#infoFinal span{
   padding: 5px;
}