* {
    font-family: 'Roboto Slab', serif;
}

/* Aca empieza el main */


/* Titulo y recordadorio de entre lineas de que tener en cuenta a la hora de la finalizar la compra */
/* ------------------------------------------------------------------ */
.cajaTitulo .titulo1{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}
.cajaTitulo .recorda1{
    padding-top: 2px;
    padding-bottom: 2px;
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 11px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

/* Items de los items relacionados con el producto */
/* ------------------------------------------------------------------ */
.tituloProducto{
    font-size: 16px;
    margin: 5px 0px 5px 5px;
}
.atributosProducto{
    border: 1px solid black;
    width: 90%;
    margin: 10px auto auto auto;
    border-radius: 5px;
}
.atributosProducto .descripcionProducto{
    display: flex;
    flex-direction: column;
}
.cajaImagenDescripcion{
    display: flex;
    margin-left: 5px;
}
.imagenProducto{
    width: 30%;
}
.infoProducto{
    font-size: 12px;
    margin-left: 5px;
    width: 60%;
    text-align: justify;
}

/* ------------------------------------------------------------------ */
.atributosProducto .precioProducto{
    display: flex;
    flex-direction: row;
    justify-content:space-around
}
.atributosProducto .precioProducto .tituloPrecio{
    text-align: left;
}
.atributosProducto .precioProducto .precio{
    text-align: center;
}
.tituloPrecio, .precio{
    font-size: 16px;
    margin: 10px 0px 5px 5px;
    width: 50%;
}

/* ------------------------------------------------------------------ */
.atributosProducto .cantidadProducto{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 100%;
}
.atributosProducto .cantidadProducto .tituloCantidad{
    text-align: left;
    font-size: 16px;
    margin: 10px 0px 5px 5px;
    width: 50%;
}
.atributosProducto .cantidadProducto .contador{
    text-align: center;
    height: 20px;
    font-size: 16px;
    margin: 10px auto 5px auto;
    width: 12.5%;
    border: none;
    background-color: transparent;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* Totales a pagar y descuentos */

.resumenCuenta{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto 20px auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
}

/* ------------------------------------------------------------------ */

.subtotal{
    display: flex;
}
.subtotalTitulo, .precioSubtotal{
    width: 50%;
    text-align: right;
}

/* ------------------------------------------------------------------ */
.descuentoCuenta{
    display: flex;
}
.descuento, .precioDescuento{
    width: 50%;
    margin: 0px 0px 0px 0px;
    text-align: right;
}

/* ------------------------------------------------------------------ */
.totalCuenta{
    display: flex;
}
.total, .precioTotal{
    border-top: 1px solid white;
    width: 50%;
    margin: 5px 0px 10px 0px;
    text-align: right;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

@media (min-width: 769px) {
    .infoProducto{
        font-size: 14px;
        margin-left: 5px;
        width: 60%;
        text-align: justify;
    }
}