/* Paleta de colores
    #B6AB9A
    #C4C4C4
    Fuente: Roboto
*/

/* ---------------BODY------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}
#menuGrande{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
#menuGrande ul{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    text-align: center;
}

#menuGrande li{
    margin: 0;
    text-align: center;
}

li{
    padding: 12px 26px;
    display: inline-block;
     
}
a{
    text-decoration: none;
    color: black;   
    font-weight: 650; 
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.destacadoContenedor{
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.destacadoImagen{
height: 500px;
background-color: white;
border:1px solid;
margin-bottom: 10px;
border-radius: 10px;
}

.destacado{ 
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.destacado p{
    margin:15px ;
    text-align: center;
}

/*----------- MEDIA QUERY --------------*/
/*-------- IPAD Y TELEFONO --------------*/
/*-----------EMPIEZA AQUI ---------------*/
@media  (max-width: 769px )  {
    /*--------BODY ----------*/    
    .destacadoContenedor .destacado{
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }  
        
    .destacadoContenedor{
        padding: 0;
    }

    .destacadoContenedor p{
        text-align: left;
    }

    .soloEscritorio{
        display: none !important;
    }
     
    #menuGrande.active{
        display: block;
    } 
    
    #menuGrande ul, #menuGrande li{
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
    }
    
}
/*-----------TERMINA AQUI-------------------*/










