<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/productDisplay.css">
  <title>Coleccion de Accesorios</title>
  <%- include('../partials/head.ejs') %>  
  <body>
      <!-- aca empieza el header -->
      <%- include('../partials/header.ejs') %>

      <!-- Aca empieza el contenido de la categoria de accesorios -->
      <main>
        <h1>ACCESORIOS</h1>
        <p class="info">La colección de accesorios incluye una amplia gama de productos para complementar un look de cualquier tipo, carteras, bolsos, billeteras y mucho mas, lo encontras en esta seccion.</p>
        <nav class="product-filter">
                <div class="sort">
                  
                  <div class="collection-sort">
                    <label>POR TIPO:</label>
                    <select>
                      <option value="/">Todo</option>
                      <option value="/">Carteras y Bolsos</option>
                      <option value="/">Billeteras</option>
                      <option value="/">Collares</option>
                      <option value="/">Anillos</option>
                    </select>
                  </div>
              
                  <div class="collection-sort">
                    <label>POR ORDEN:</label>
                    <select>
                      <option value="/">Destacados</option>
                      <option value="/">Mayor a menor precio</option>
                      <option value="/">Menor a mayor precio</option>
                    </select>
                  </div>
              
                </div>
              
            </nav>
            <section class="products">

              <div class="product-container">
                <div class="product-card">
                    <img src="/img/products/Accesorios/Billetera.jpg" alt="Image">
                    <h3 class="product-title">Billetera</h3>
                    <span class="product-price">$4595</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/cartera.jpg" alt="Image">
                    <h3 class="product-title">Cartera</h3>
                    <span class="product-price">$4595</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/carteraM.jpg" alt="Image"> 
                    <h3 class="product-title">Cartera Dama</h3>
                    <span class="product-price">$8595</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/caseabaco.jpg" alt="Image">
                    <h3 class="product-title">Bolso</h3>
                    <span class="product-price">$6995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/Combo1.jpg" alt="Image">
                    <h3 class="product-title">Reloj</h3>
                    <span class="product-price">$5995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/Combo2.jpg" alt="Image">
                    <h3 class="product-title">Reloj</h3>
                    <span class="product-price">$5995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/Combo3.jpg" alt="Image"> 
                    <h3 class="product-title">Reloj y Cartera</h3>
                    <span class="product-price">$8995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/MochilaM.jpg" alt="Image">
                    <h3 class="product-title">Mochila Mujer</h3>
                    <span class="product-price">$8995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/Mochilaxs.jpg" alt="Image">
                    <h3 class="product-title">Mochila Grande</h3>
                    <span class="product-price">$8995</span>
                </div>
                <div class="product-card">
                    <img src="/img/products/Accesorios/rinonera.jpg" alt="Image">
                    <h3 class="product-title">Bolso</h3>
                    <span class="product-price">$4995</span>
                </div>
            </div>
              
            </section>
            
        </main>
        <!-- Aca FIN de el contenido produtos de hombre -->
        <!-- Aca comienza el FOOTER -->
      <%- include('../partials/footer.ejs') %>
  </body>
</html> 