<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/productDisplay.css">
  <title>Coleccion de mujer</title>
  <%- include('../partials/head.ejs') %>  
  <body>
      <!-- aca empieza el header -->
      <%- include('../partials/header.ejs') %>

      <!-- Aca empieza el contenido de la categoria de Mujeres -->
      <main>
        <h1>ZAPATOS PARA MUJER</h1>
        <p class="info">La colecci칩n de zapatos para mujer se ha dise침ado pensando en la versatilidad y resaltando la elegancia de sus dise침os. Salones, zapatos de tac칩n, deportivos, mocasines, elige el tuyo.</p>
        <nav class="product-filter">
                <div class="sort">
                  
                  <div class="collection-sort">
                    <label>POR TIPO:</label>
                    <select>
                      <option value="/">Todo</option>
                      <option value="/">De Taco</option>
                      <option value="/">Deportivo</option>
                      <option value="/">Mocasines</option>
                    </select>
                  </div>
              
                  <div class="collection-sort">
                    <label>POR ORDEN:</label>
                    <select>
                      <option value="/">Destacados</option>
                      <option value="/">Mayor a menor precio</option>
                      <option value="/">Menor a mayor precio</option>
                    </select>
                  </div>
              
                </div>
              
            </nav>
            <section class="products">

              <div class="product-container">
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 1</h3>
                    <span class="product-price">$250</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 2</h3>
                    <span class="product-price">$123</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image"> 
                    <h3 class="product-title">Zapato 3</h3>
                    <span class="product-price">$150</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 4</h3>
                    <span class="product-price">$210</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 5</h3>
                    <span class="product-price">$120</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 6</h3>
                    <span class="product-price">$250</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image"> 
                    <h3 class="product-title">Zapato 7</h3>
                    <span class="product-price">$123</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 8</h3>
                    <span class="product-price">$150</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 9</h3>
                    <span class="product-price">$210</span>
                </div>
                <div class="product-card">
                    <img src="/images/zapatoprueba1.jpg" alt="Image">
                    <h3 class="product-title">Zapato 10</h3>
                    <span class="product-price">$120</span>
                </div>
            </div>
              
            </section>
            
        </main>
        <!-- Aca FIN de el contenido produtos de hombre -->
        <!-- Aca comienza el FOOTER -->
      <%- include('../partials/footer.ejs') %>
  </body>
</html> 