<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <title>Old Milano</title>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <div class= "bigTitle"> <img class= "imagenGrande" src="/images/portada.gif">
               
            <div class="text">Todo parece imposible, hasta que se hace.</div>
         </div>
        

            <div class= "descriptionMiddle">
                  La empresa Old Milano ofrece productos de alta calidad confeccionados artesanalmente. 
                  En nuestra web se ofrece pocas unidades por tipo y modelo de estos productos para poder 
                  preservar la exclusividad en nuestros diseños comercializados.
            </div>



            <div class= "granContainer"> 
                <div class= "imagenCreacion">
                    <img src="/images/imagenUna.png" style="width:100%">
                   
                </div>
                <div class= "imagenCreacion">
                    <img src="/images/imagenDos.png" style="width:100%">
                   
                </div>             
                <div class= "imagenCreacion">
                    <img src="/images/imagenTres.png" style="width:100%">
                    
                </div>
                     <div class= "textoDos"> 
                            Forman parte de estos diseños:
                    </div> 
                 <ul class= "lista">
                        <li ><i class="fas fa-check"></i> Calzados Femeninos y Masculinos. </li>
                        <li><i class="fas fa-check"></i> Accesorios tales como: Bolsos, Carteras, billeteras, cinturones o similares. </li>
                        <li><i class="fas fa-check"></i> Ofrecemos también servicios de asesoria de imagen y creación de liroductos a medida a nuestros clientes.</li>       
                </ul>    
                   
                <div class= "texto3">
                     Nuestros productos estan orientados a un público masculino y femenino que busca productos de 
                     alta calidad y exclusividad sus diseños.
                </div>

            <div class="texto4">
                 “POR SU OBRA SE CONOCE AL ARTESANO”
            </div>
            
            <div class= "destacadoContenedor"> 
                <div class= "destacado">
                    <img src="/images/foto1.jpg" style="width:100%">

                </div>
                <div class= "destacado">
                    <img src="/images/foto2.jpg" style="width:100%">
                </div>             
                <div class= "destacado">
                    <img src="/images/foto3.jpg" style="width:100%">

             </div>   
        
        </div>







    </main>
    <script src="/js/carrousel.js"></script>
</body>
        <%- include('./partials/footer.ejs') %>
</html>