<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/aboutUs.css">
    <title>Old Milano</title>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <div class= "bigTitle"> <img class= "imagenGrande" src="/images/portada.gif">
               
                <h1 class= "textoGrande"> 
                    TODO PARECE IMPOSIBLE,
                    HASTA QUE SE HACE. 
                </h1>
        </div>

            <div class= "descriptionMiddle">
                  La empresa Old Milano ofrece productos de alta calidad confeccionados artesanalmente. 
                  En nuestra web se ofrece pocas unidades por tipo y modelo de estos productos para poder 
                  preservar la exclusividad en nuestros diseños comercializados.
            </div>

            <div>   
                    <img class= "fabricando" src="/images/fotoFabricando.jpg">

            </div>
            
 
            <div>
                 Forman parte de estos diseños:
            </div> 
            
                <ul class= "listaPeq">
                    <li i class="fas fa-check"></i>Calzados Femeninos y Masculinos. </li>
                    <li i class="fas fa-check"></i>Accesorios tales como: Bolsos, Carteras, billeteras, cinturones o similares. </li>
                    <li i class="fas fa-check"></i> Ofrecemos también servicios de asesoria de imagen y creación de liroductos a medida a nuestros clientes.</li>       
                </ul>            


                <div>
                     Nuestros productos estan orientados a un público masculino y femenino que busca productos de 
                     alta calidad y exclusividad sus diseños.
                </div>

            <div>
                 “POR SU OBRA SE CONOCE AL ARTESANO”
            </div>
        </span>    
        
        
        </div>







    </main>
    <script src="/js/carrousel.js"></script>
</body>
        <%- include('./partials/footer.ejs') %>
</html>