<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/formulario.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <p><h2 class="title">CREACION Y EDICION DE PRODUCTOS</h2></p>

    <form action="/edicionProducto/edit?_method=PUT" method="POST">
        <div>
            <label for="id">ID</label>
            <input type="text" name="id" id="fieldId">
        </div>
        <div>
            <label for="nombre">NOMBRE</label>
            <input type="text" name="nombre" id="fieldNombre">
        </div>
        <div>
            <label for="descripcion">DESCRIPCÍON</label>
            <input type="text" name="descripcion" id="fieldDescripcion">
        </div>
        <div>
            <label for="imagen">IMAGEN</label>
            <input type="file" name="imagen" id="fieldimage">
        </div>
        <div>
            <label for="categoria">CATEGORIA</label>
            <input type="text" name="categoria" id="fieldCategoria">
        </div>
        <div>
            <label for="color">COLOR</label>
            <input type="text" name="color" id="fieldColor">
        </div>
            <label for="talla">TALLA</label>
            <input type="text" name="talla" id="fieldTalla">
        </div>

        <div class="botonEnviar">
            <input type="submit">
        </div>
    </form>
    
</body>
</html>