<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Old Milano</title>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
    <div class="carrusel"><a href="#">
            <i class="Izquierdo fas fa-chevron-circle-left"></i></a>
        <a href="#"><i class="Derecho fas fa-chevron-circle-right"></i> </a>
    </div>

    <div class= "destacadoContenedor"> 
        <div class= "destacado">
            <div class="destacadoImagen"></div>
            <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
        </div>
    <div class= "destacado">
        <div class="destacadoImagen"></div>
        <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
    </div>             
    <div class= "destacado">
        <div class="destacadoImagen"></div> 
        <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
    </div>
    </main>
</body>
        <%- include('./partials/footer.ejs') %>
</html>
