<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Old Milano</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <main>
        <nav id="menuGrande">
            <ul>
                <li><a href="#">HOMBRE</a></li>
                <li><a href="#">MUJER</a> </li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTÁCTANOS</a></li>
            </ul>
        </nav>
    </main>

    <div class="carrusel"><a href="#">
            <i class="Izquierdo fas fa-chevron-circle-left"></i></a>
        <a href="#"><i class="Derecho fas fa-chevron-circle-right"></i> </a>
    </div>

    <div class= "destacadoContenedor"> 
        <div class= "destacado">
            <div class="destacadoImagen"></div>
            <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
        </div>
    <div class= "destacado">
        <div class="destacadoImagen"></div>
        <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
    </div>             
    <div class= "destacado">
        <div class="destacadoImagen"></div> 
        <p>Sección dedicada a las ofertas esclusivas de nuestra empresa tanto como hombre, mujer o accesorios. </p>
    </div>
    
</body>
        <%- include('./partials/footer.ejs') %>
</html>
