<footer>
    <div class="cajaPadreRegistro">
        <div id="registro"><i class="Telefono fas fa-mobile-alt"></i>
            <div class="TextoRegistro"> Registrate y obten un -5% de descuento en tu primera compra</div>
            <a href="/users/register" id="noAccount" title="noAccount"><button class="Registrarme">REGISTRARME</button><a href="/users/register" id="noAccount" title="noAccount"></a>
        </div>
    </div>
    <div class="contenedorFooter">
        <div class="bordeLogo">
            <img src="/img/LOGO.png" alt="LOGO">
        </div>

        <li><a onclick="this.parentElement.classList.toggle('active');">GUIA DE COMPRA <i
                    class="flechita fas fa-chevron-down"></i></a>
            <div class="info">
                <p>FAQ'S</p>
                <p>CAMBIO Y DEVOLUCIONES</p>
                <p>GUIA DE TALLES</p>
            </div>
        </li>
        <li><a onclick="this.parentElement.classList.toggle('active');">AYUDA <i
                    class="flechita fas fa-chevron-down"></i></a>
            <div class="info">
                <p>+54 000 000 00</p>
                <p>INFO@OLDMILANO.COM.AR</p>
                <p>CONDICIONES GENERALES</p>
                <p>POLITICA DE PRIVACIDAD</p>
                <p>CONDICIONES GENERALES DE COMPRA</p>
            </div>
        </li>
        <li><a onclick="this.parentElement.classList.toggle('active');">CONTACTANOS <i
                    class="flechita fas fa-chevron-down"></i></a>
            <div class="info">
                <p>ATENCION AL CLIENTE</p>
                <p>CONTACTO</p>
            </div>
        </li>
        <li class="bordeRedes">
            <a href="#">REDES SOCIALES</a>
            <div class="info">
                <p class="contenedorIcons">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram-square"></i></a>
                    <a href="#"><i class="fab fa-twitter-square"></i></a>
                    <a href="#"><i class="fab fa-pinterest"></i></a>
                </p>
                <p> <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </p>
                <p> Valoracion de clientes 4.5/5</p>
                <p> 379 Opiniones</p>
            </div>
        </li>

    </div>
    <div class="Logochico"><img src="/img/LOGO.png" alt="LOGO">
        <p class="infoHecho">HECHO A MANO</p>
    </div>
    <div id="infoFinal">
        <ul>
            <li class="moneda">Pesos Argentinos($)
                <i class="far fa-caret-square-down"></i>
            </li>
            <li class="infoOld">
                OLD MILANO © 2021. Todos los derechos reservados.
            </li>
            <li class="infoPolitica">
                <span>Politicas de Cookie</span>
                <span> Politicas de Privacidad</span>
            </li>
        </ul>
    </div>
</footer>