<header>
    <div id="menuPequenio">
        <div class="bannerContainer">
            <div class="textLeft"><i class="fab fa-whatsapp"></i>Telefono</div>
            <div class="textCenter">10% descuento en Productos seleccionados</div>
            <div class="textRight">LOCALIZA TU TIENDA </div>
        </div>
    </div>
    <div class="cajaLogo">
        <div class="padreIcons1">
            <div><a href="#" onclick=" document.getElementById('menuGrande').classList.toggle('active');"><i
                        class="fas fa-bars"></i></a></div>
            <div><a href="#"><i class="fas fa-search"></i></a></div>
        </div>

        <img src="img/LOGO.png" alt="LOGO">
        <div class="padreIcons">
            <div><a href="#"><i class="soloEscritorio fas fa-search"></i></a></div>
            <div><a href="login"><i class="far fa-user"></i> </a></div>
            <div><a href="shopping_bag"><i class="fas fa-shopping-cart"></i></a></div>
        </div>
    </div>
    <nav id="menuGrande">
        <ul>
            <li><a href="#">HOMBRE</a></li>
            <li><a href="#">MUJER</a> </li>
            <li><a href="#">OFERTAS</a></li>
            <li><a href="#">ACCESORIOS</a></li>
            <li><a href="#">SOBRE NOSOTROS</a></li>
            <li><a href="#">CONTÁCTANOS</a></li>
        </ul>
    </nav>
</header>
