<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/css/log-reg.css">
    <title>Login</title>  
    <%- include('../partials/head.ejs') %>  
<body>
    <!-- Aca empieza el headedr -->
    <%- include('../partials/header.ejs') %>

    <!-- Aca empieza el contenido login-registro -->
    <div class="mainDiv">
        <div class="banner">ACCEDE CON TU CUENTA</div>
        <main>
            <div class="login-page">
                <section id="logearse">
                    <div class="logIn">
                        <p class="infoLogIn">Si ya estas registrado en www.Old-Milano.com, solamente tienes que introducir tu e-mail y contraseña.</p><br>
                        <div>
                        <% if(typeof errors != "undefined") { %>
                        <ul>
                            <% errors.forEach(function(error){ %>
                                <li>
                                    <%= error.msg %>
                                </li>
                            <% })%>
                        </ul>
                        <% } %>
                    </div>
                        <form action="/users/login" method="POST">
                        <input type="email" name="email" id="email" placeholder="*E-mail">
                        <p>
                        </p>
                        <input type="password" name="password" id="password" placeholder="*Contraseña">
                        <p></p>
                        <div class="keepMeSign">
                            <input type="checkbox" name="remember" id="remember"style="width: auto;">
                            <label for="remember" style="font-size: smaller;">Mantener sesion Iniciada</label>
                        </div>
                        <div class="loginLinks">
                            <a href="#" id="passwordReset" title="passwordReset" >NO RECUERDO MI CONTRASEÑA</a>
                            <a href="/users/register" id="noAccount" title="noAccount">AUN NO TENGO CUENTA</a>
                        </div>
                        <p></p>
                        <button type="submit">ENTRAR</button>
                        </form>
                    </div>           
                </section>
            </div>
        </main>
    </div> 
    <br><section class="benefits">
        <h3>Hacerse cliente tiene sus ventajas</h3>
        <div class="advantages">
            <div class="advantage" id="tracking">
                <h4><i class="fas fa-satellite-dish"></i>Seguimiento de tu pedido</h4>
                <p>Podrás hacer el seguimiento de tu pedido.</p>
                </div>
            <div class="advantage" id="refunds">
                <h4><i class="fas fa-sync"></i>Devoluciones</h4>
                <p>Realiza tus devoluciones de forma rápida.</p>
                </div>
            <div class="advantage" id="promotions">
                <h4><i class="fas fa-percent"></i>Ofertas y promociones</h4>
                <p>Recibe ofertas y promociones exclusivas.</p>
                </div>
            <div class="advantage" id="purchases">
                <h4><i class="fas fa-bolt"></i>Compra más ágil</h4>
                <p>Gana tiempo en tus compras futuras.</p>
                </div>
        </div>
    </section>
    <!-- Aca FIN de el contenido login-regsitro -->
    <!-- Aca comienza el FOOTER -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>      