<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/detallesProducto.css">
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Old Milano</title>
</head>
<body>
    <header>
        <div id= "menuPequenio">
            <div class="TextLeft"><i class="fab fa-whatsapp"></i>Telefono</div>
            <div class="TextCenter">10% descuento en Productos seleccionados</div>
            <div class= "TextRight">LOCALIZA TU TIENDA </div>
        </div>
        <div class="cajaLogo"><img src="img/LOGO.png" alt="LOGO">     
            <div class= "padreIcons">
                <div><a href="#"><i class="fas fa-search"></i></a></div>
                <div><a href="#"><i class="far fa-user"></i> </a></div>
                <div><a href="#"><i class="fas fa-shopping-cart"></i></a></div>
            </div>
        </div>  
        <nav id= "menuGrande"> 
            <ul>
                <li><a href="#">HOMBRE</a></li>
                <li><a href="#">MUJER</a> </li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">ACCESORIOS</a></li>
                <li><a href="#">SOBRE NOSOTROS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>   
        </nav>
    </header>
    <main>
        <div class="masterContainer">
            <div class="container">
                <div class="box">BOX 1</div>
                <div class="box">BOX 2</div>
                <div class="box">BOX 3</div>
                <div class="box">BOX 4</div>
                <div class="box">BOX 5</div>
                <div class="box">BOX 6</div>
                <div class="box">BOX 7</div>
            </div>
            <div class="mainBox">MainBox</div>
            <div class="container1">
                <p class="detailProduct">Nombre de Producto</p>
                <p class="detailProduct">Precio</p>
                <p class="detailProduct">Color</p>
                <div class="container2">
                    <div class="box1">1</div>
                    <div class="box1">2</div>
                    <div class="box1">3</div>
                    <div class="box1">4</div>
                    <div class="box1">5</div>
                </div>
                <p class="detailProduct">Envios y Devoluciones</p>
                <p class="detailProduct">Seleccione su taya</p>
                <div class="container3">
                    <div class="box2">1</div>
                    <div class="box2">2</div>
                    <div class="box2">3</div>
                    <div class="box2">4</div>
                    <div class="box2">5</div>
                    <div class="box2">6</div>
                </div>
                <div class="subBox1">DescripcionProducto</div>
                <div class="subBox2">CaracteristicasTecnicas</div>
                <div class="subBox2">Envios y Devoluciones</div>
                <div class="subBox2">¿Necesitas más información?</div>
            </div>
    </div>
    </main><br><br>
    <footer>
        <div class="cajaPadreRegistro">
            <div id= "registro"><i class="Telefono fas fa-mobile-alt"></i>
                <div class= "TextoRegistro"> Registrate y obten un -5% de descuento en tu primera compra</div>
                <button class="Registrarme">REGISTRARME</button>
            </div>
        </div>
        <div class = "contenedorFooter">
            <div class="bordeLogo">
                <img src="img/LOGO.png" alt="LOGO">
            </div>
            <li><a href="#">GUIA DE COMPRA</a>
                <div class= "info">
                    <p>FAQ'S</p>
                    <p>CAMBIO Y DEVOLUCIONES</p>
                    <p>GUIA DE TALLES</p>
                </div>
            </li>
            <li><a href="#">AYUDA</a>
                <div class= "info">
                    <p>+54 000 000 00</p>
                    <p>INFO@OLDMILANO.COM.AR</p>
                    <p>CONDICIONES GENERALES</p>
                    <p>POLITICA DE PRIVACIDAD</p>
                    <p>CONDICIONES GENERALES DE COMPRA</p>        
                </div>
            </li>
            <li><a href="#">CONTACTANOS</a>
                <div class= "info">
                    <p>ATENCION AL CLIENTE</p>
                    <p>CONTACTO</p>
                </div>
            </li>
            <li class="bordeRedes">
                <a href="#">REDES SOCIALES</a>
                <div class= "info">
                    <p class= "contenedorIcons">
                        <a href= "#"><i class="fab fa-facebook-square"></i></a>
                        <a href= "#"><i class="fab fa-instagram-square"></i></a>
                        <a href= "#"><i class="fab fa-twitter-square"></i></a>
                        <a href= "#"><i class="fab fa-pinterest"></i></a>
                    </p>
                    <p> <i class="far fa-star"></i> 
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </p>
                    <p> Valoracion de clientes 4.5/5</p>
                    <p> 379 Opiniones</p>
                </div>
            </li>                        
        </div>    
        <div class = "Logochico"><img src="img/LOGO.png" alt="LOGO">
            <p class= "infoHecho">HECHO A MANO</p>
        </div>
        <div id= "infoFinal">
            <ul>
                <li class= "moneda">Pesos Argentinos($)
                    <i class="far fa-caret-square-down"></i>
                </li>
                <li class= "infoOld">
                    OLD MILANO © 2021. Todos los derechos reservados.
                </li>
                <li class= "infoPolitica">
                    <span>Politicas de Cookie</span>
                    <span> Politicas de Privacidad</span>
                </li>
            </ul>
        </div>
        </div>        
    </footer>
</body>
</html>