<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/detallesProducto.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h4>Barra de Navegacion</h4>
    </header>
    <main>
        <div class="masterContainer">
            <div class="container">
                <div class="box">BOX 1</div>
                <div class="box">BOX 2</div>
                <div class="box">BOX 3</div>
                <div class="box">BOX 4</div>
                <div class="box">BOX 5</div>
                <div class="box">BOX 6</div>
                <div class="box">BOX 7</div>
            </div>
            <div class="mainBox">MainBox</div>
            <div class="container1">
                <p class="detailProduct">Nombre de Producto</p>
                <p class="detailProduct">Precio</p>
                <p class="detailProduct">Color</p>
                <div class="container2">
                    <div class="box1">1</div>
                    <div class="box1">2</div>
                    <div class="box1">3</div>
                    <div class="box1">4</div>
                    <div class="box1">5</div>
                </div>
                <p class="detailProduct">Envios y Devoluciones</p>
                <p class="detailProduct">Seleccione su taya</p>
                <div class="container3">
                    <div class="box2">1</div>
                    <div class="box2">2</div>
                    <div class="box2">3</div>
                    <div class="box2">4</div>
                    <div class="box2">5</div>
                    <div class="box2">6</div>
                </div>
                <div class="subBox1">DescripcionProducto</div>
                <div class="subBox2">CaracteristicasTecnicas</div>
                <div class="subBox2">Envios y Devoluciones</div>
                <div class="subBox2">¿Necesitas más información?</div>
            </div>
    </div>
    </main>
    <footer>
        <div class="footerContainer">
            <div class="boxFooter">LOGO</div>
            <div class="boxFooter">Guia de Compra</div>
            <div class="boxFooter">Ayuda</div>
            <div class="boxFooter">Contacto</div>
            <div class="boxFooter">RRSS</div>
        </div>        
    </footer>
</body>
</html>